In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, revenue AS total_revenue
FROM
 (SELECT f.name AS name,
	SUM(CASE WHEN b.memid = 0 THEN guestcost * slots 
        ELSE membercost * slots END) AS revenue
FROM Bookings AS b
LEFT JOIN Facilities as f
ON b.facid = f.facid
GROUP BY b.facid) AS revenue_table
WHERE revenue < 1000
ORDER BY total_revenue DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT
(m.surname || ' ' || m.firstname) AS membername,
(m2.surname || ' ' || m2.firstname) AS recomended_by
FROM Members as m
INNER JOIN Members as m2
ON m.recommendedby = m2.memid
WHERE m.memid > 0 
AND m.recommendedby > 0
ORDER BY membername;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Jack', 'Smith Darren')
('Stibbons Ponder', 'Tracy Burton')
('Worthington-Smyth Henry', 'Smith Tracy')

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, 
(m.surname || ' ' || m.firstname) AS membername,
SUM(slots) / 2 AS hours_of_use

FROM Bookings AS b
LEFT JOIN Members AS m
ON b.memid = m.memid
LEFT JOIN Facilities AS f
ON b.facid = f.facid

WHERE m.memid <> 0
GROUP BY m.memid
ORDER BY hours_of_use DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 'Smith Darren', 342)
('Massage Room 1', 'Rownam Tim', 330)
('Tennis Court 2', 'Boothe Tim', 220)
('Tennis Court 1', 'Smith Tracy', 217)
('Tennis Court 1', 'Butters Gerald', 204)
('Tennis Court 2', 'Tracy Burton', 183)
('Tennis Court 1', 'Owen Charles', 172)
('Massage Room 1', 'Joplette Janice', 163)
('Tennis Court 2', 'Jones David', 152)
('Tennis Court 1', 'Baker Anne', 148)
('Tennis Court 2', 'Baker Timothy', 145)
('Badminton Court', 'Dare Nancy', 133)
('Tennis Court 2', 'Stibbons Ponder', 124)
('Badminton Court', 'Bader Florence', 118)
('Badminton Court', 'Mackenzie Anna', 115)
('Massage Room 1', 'Smith Jack', 109)
('Table Tennis', 'Farrell Jemima', 90)
('Snooker Table', 'Pinker David', 79)
('Tennis Court 2', 'Sarwin Ramnaresh', 76)
('Massage Room 2', 'Genting Matthew', 65)
('Snooker Table', 'Coplin Joan', 53)
('Badminton Court', 'Worthington-Smyth Henry', 30)
('Tennis Court 1', 'Farrell David', 25)
('Tennis Court 1', 'Hunt John', 20)
('Snooker Table', 'Rumney Henrietta', 19)
('Badminton Court', 'Jones Douglas', 18)
('Badminton Court', 'Purview Millicent', 16)
('Snooker Table', 'Tupperware Hyacinth', 14)
('Badminton Court', 'Crumpet Erica', 8)

In [4]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, strftime("%m-%Y", starttime) as Month,
SUM(slots) / 2 AS hours_of_use

FROM Bookings AS b
LEFT JOIN Facilities AS f
ON b.facid = f.facid

GROUP BY f.facid, Month
ORDER BY month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', '07-2012', 135)
('Tennis Court 2', '07-2012', 103)
('Badminton Court', '07-2012', 90)
('Table Tennis', '07-2012', 52)
('Massage Room 1', '07-2012', 132)
('Massage Room 2', '07-2012', 12)
('Squash Court', '07-2012', 82)
('Snooker Table', '07-2012', 78)
('Pool Table', '07-2012', 58)
('Tennis Court 1', '08-2012', 229)
('Tennis Court 2', '08-2012', 241)
('Badminton Court', '08-2012', 229)
('Table Tennis', '08-2012', 152)
('Massage Room 1', '08-2012', 246)
('Massage Room 2', '08-2012', 41)
('Squash Court', '08-2012', 200)
('Snooker Table', '08-2012', 163)
('Pool Table', '08-2012', 161)
('Tennis Court 1', '09-2012', 295)
('Tennis Court 2', '09-2012', 294)
('Badminton Court', '09-2012', 285)
('Table Tennis', '09-2012', 211)
('Massage Room 1', '09-2012', 324)
('Massage Room 2', '09-2012', 61)
('Squash Court', '09-2012', 270)
('Snooker Table', '09-2012', 213)
('Pool Table', '09-2012', 235)